@{
  Layout = "_Layout";
}

@using System.Security.Claims
<div class="container">
<br>
<br>
  <div class="col-md-12">
    <div class=row>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;  
      <div id="card" class="card border-dark mb-3" style="position: center; width: 100%; height: 50%">
        <div class="outer-border">
          <div class="mid-border">
            <div class="inner-border">
              <img class="corner-decoration corner-left-top" src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
              <img class="corner-decoration corner-right-top" src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
              <img class="corner-decoration corner-right-bottom" src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
              <img class="corner-decoration corner-left-bottom" src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
              <img class="vertical-decoration top" src="https://i.ibb.co/JRTK9z4/horizontally-centered-vertical-decoration.png"></img>
              <img class="vertical-decoration bottom" src="https://i.ibb.co/JRTK9z4/horizontally-centered-vertical-decoration.png"></img>
          <div class="card-header">
            <center><h1 id="title" style="font-size:4vw">Account Login</h1></center>
          </div>
          <br>
          &nbsp;
          &nbsp;
              @if (User.Identity.IsAuthenticated)
              {
                  <center><strong><h1 style="font-size:4vw">Bienvenue, @User.Identity.Name!</h1></strong>
                  <br>
                  @using (Html.BeginForm("LogOff", "Account"))
                  {
                      <input type="submit" id="button" type="button" class="btn btn-outline-dark my-sm-0" value="Log out" />
                  }
                  </center>
              }
              else
              {
            <center><button id="button" type="button" class="btn btn-outline my-sm-0"style="max-height: 5rem; max-width: 15rem;"> @Html.ActionLink("Create New Account", "Register")</button>
            &nbsp;
            <button id="button" type="button" class="btn btn-outline my-sm-0"style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Login to Account", "Login")</button></center>
              }
            &nbsp;     
            <center><button id="button" type="button" class="btn btn-outline my-sm-0" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Home", "Index", "Home")</button></center>
            &nbsp;   
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>